.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  max-width: 736px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.container > input {
  flex: 1;

  background-color: var(--element-background-color);

  padding: 0 1rem;
  height: 3.375rem;

  border: 1px solid var(--app-background);
  border-radius: 8px;

  font-weight: 400;
  color: var(--text-hi-contrast);

  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;

  outline: 2px solid transparent;

  transition: outline-color 150ms ease-out;
}

.container > input::placeholder {
  color: var(--text-lo-contrast);
}

.container > input:focus-visible {
  outline-color: var(--element-outline-color);
}

.container > button[type="submit"] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  border-radius: 8px;
  border: 0;

  white-space: nowrap;
  color: #ffffff;

  user-select: none;

  padding: 0 1rem;
  height: 3.375rem;
  background-color: var(--brand-color);

  cursor: pointer;

  outline: 2px solid transparent;
  outline-offset: 4px;

  transition: background-color 150ms ease-out, outline-color 150ms ease-out, color 150ms ease-out;
}

.container > button[type="submit"]:not(:disabled):hover,
.container > button[type="submit"]:focus {
  background-color: var(--brand-hover-color);
}

.container > button[type="submit"]:focus-visible {
  outline-color: var(--brand-outline-color);
}

.container > button[type="submit"]:disabled {
  cursor: not-allowed;
  background-color: var(--element-background-color);
  color: var(--text-lo-contrast);
}

@media screen and (max-width: 736px) {
  .container > button[type="submit"] > span {
    display: none;
  }
}
