.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--text-lo-contrast);

  padding: 1rem;
}

.container > strong,
.container > p {
  line-height: 1.6;
}

.container > strong {
  margin-top: 1rem;
}

.container > p {
  font-weight: 400;
}
